Options +FollowSymLinks
RewriteEngine on
#RewriteRule ^.*/([^/\.]+)/?$ pages/PageHome.php?debug=$1 [L]
RewriteRule ^$ pages/PageHome.php

#RewriteRule ^curriculum/?$ 				templates/vitae.php
#RewriteRule ^societies-memberships/?$ 		templates/member.php
#RewriteRule ^expertise/?$ 					templates/expertise.php
#RewriteRule ^clinical-experience/?$ 		templates/experience.php
#RewriteRule ^patients-brief/?$ 			templates/persomed.php
#RewriteRule ^patients-brief/download/?$ 	templates/persomed-download.php
#RewriteRule ^contact/?$ 					templates/contact.php
#RewriteRule ^gallery/?$ 					templates/photo.php
#RewriteRule ^links/?$ 						templates/links.php
