//start reset css
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
strong{font-weight:bold;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
body{font-family:arial;font-size:12px;color:#282828;padding-bottom:0;}
a{color:#333333;outline:0;text-decoration:none;}
a:hover{color:#D59604;text-decoration:underline;outline:0;}
a.loud{color:#000;}
a.loud:hover{color:#D59604;}
a.highlight,ul.highlight li a,a.stelexos{color:#D59604 !important;}
a.property:hover,ul.property li a:hover{color:#579A3D !important;}
a.automoto:hover,ul.automoto li a:hover{color:#BE3A26 !important;}
#box_recent_ads a.stelexos:hover img,#box_recent_ads img.stelexos:hover{border-color:#D59604 !important;}
#box_recent_ads a.property:hover img,#box_recent_ads img.property:hover{border-color:#579A3D !important;}
#box_recent_ads a.automoto:hover img,#box_recent_ads img.automoto:hover{border-color:#BE3A26 !important;}
a:focus{outline:0;}
a:active{outline:0;}
#wrapper{position:relative;}
.inputHelpText{color:#999999;}
.clear{clear:both;}
#tagCloudContainer{margin-top:20px;}
*{outline:none;}

aside {
    float:right !important;
}

.clearfix {
    overflow:auto;
}

.boxmodelfix {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inline-block {
    display:inline-block;
    zoom:1;
    *display:inline;
}

button {
    padding:10px 20px;
    color:#ffffff;
    font-size:14px;
    background-color:#FDB913;
    display:block;
    background:none;
    outline: none;
}

.span-1 {
    width:60px;
}
.span-2 {
    width:120px;
}
.span-3 {
    width:180px;
}

.span-4 {
    width:240px;
}

.span-5 {
    width:300px;
}

.span-6 {
    width:360px;
}

.span-7 {
    width:420px;
}

.span-8 {
    width:480px;
}

.span-9 {
    width:540px;
}

.span-10 {
    width:600px;
}

.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10 {float:left}


//start limbo main css
.clear{
    clear:both;
}

body {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin:0;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.error {
    color:#cc0000;
}

input.error {
    border:solid 1px #cc0000 !important;
}

input.success {
    border:solid 1px #69ba5f !important;
}

.success {
    color: #69ba5f;
}

#global-header {
    background: url("../images/header_bg.jpg") repeat-x center top;
    height: 104px;
}

div.content {
    background-position: center top;
    height: 104px;
    margin: auto;
    position: relative;
    width: 940px;
}

#global-header div.logo {
    float: left;
    height: 44px;
    margin-right: 40px;
    padding-top: 30px;
    width: 176px;
}

#global-header .header-item-active{
    background: url("../images/itemactive.png") repeat-x center top;
    display: block;
    width:48px;
    height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    font-size: 14px;
    position: relative;
    padding: 40px 20px 7px;
    float: left;
}

#global-header .header-item{
    color: #B8B6B4;
    display: block;
    float: left;
    font-size: 14px;
    padding: 40px 20px 7px;
    position: relative;
    text-decoration: none;
}

#global-header .header-item:hover{
   color: #FFFFFF;
}

#global-header .global-actions{
    font-size: 11px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    top: 6px;
    right: 0;
    font-weight: bold;
}

#global-header a.register{
    text-decoration: none;
    color: #FFFFFF;
}

#games-header{
    height: 66px;
    background-color: #3B3938;

}

#games-header .games-navigation-area{
    height: 49px;
    left: 0;
    position: absolute;
    right: 0;
    top: 24px;
}

#games-header .games-navigation{
    height: 35px;
}

.tab-active{
    border-right: 1px solid #000000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 35px;
    padding: 0 40px;
    text-decoration: none;
    background-color: #86b3d9; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8ab7de', endColorstr='#4d6d8d'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8ab7de', endColorstr='#4d6d8d')"; /* IE8 */
    background: -webkit-gradient(linear, left top, left bottom, from(#8ab7de), to(#4d6d8d)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #8ab7de,  #4d6d8d); /* for firefox 3.6+ */

}

.tab-active:hover{
    text-decoration: none;
}

.tab{
    border-right: 1px solid #000000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 35px;
    padding: 0 40px;
    text-decoration: none;
    background-color: #595553; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#595553', endColorstr='#6e6a69'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#595553', endColorstr='#6e6a69')"; /* IE8 */
    background: -webkit-gradient(linear, left top, left bottom, from(#595553), to(#6e6a69)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #595553,  #6e6a69); /* for firefox 3.6+ */

}

.tab:hover {
    background: -moz-linear-gradient(top,  #4D4B49,  #4D4B49);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4D4B49', endColorstr='#4D4B49'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4D4B49', endColorstr='#4D4B49')"; /* IE8 */
    background: -webkit-gradient(linear, left top, left bottom, from(#4D4B49), to(#4D4B49)); /* for webkit browsers */
    text-decoration: none;

}

.final-tab{
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 35px;
    padding: 0 146px;
    text-decoration: none;
    background-color: #595553; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#595553', endColorstr='#6e6a69'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#595553', endColorstr='#6e6a69')"; /* IE8 */
    background: -webkit-gradient(linear, left top, left bottom, from(#595553), to(#6e6a69)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #595553,  #6e6a69); /* for firefox 3.6+ */
}

.games-navigation .genres {
    position:relative;
    float:left;
}

.games-navigation .genres ul {
    position:absolute;
    display:none;
    left:0;
    top:35px;
    z-index:9999;
    background-color:#000000;
}

.games-navigation .genres:hover ul {
    display:block;
    opacity:0.8;
}

.games-navigation .genres:hover ul li {
    width:127px;
    padding:10px 15px;
}

.games-navigation .genres:hover ul li:hover {
    background-color:#595553;
}

.games-navigation .genres:hover ul li a {
    color:#ffffff;
    display:block;
    font-weight:800;
}

/* Search Button */

.games-search{
    border-left: 1px solid #000000;
    height: 27px;
    padding: 4px;
    width: 240px;
    position: absolute;
    left:694px;
}

.image-search{
    position: absolute;
    right: 25px;
}

.searchbox{
    color: #A6A5A2;
    height: 27px;
    position: relative;
    width: 170px;
}

.searchbox input{
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    box-shadow: 3px 0 12px #999999 inset;
    font-size: 12px;
    height: 15px;
    padding: 6px 3px 6px 6px;
    width: 170px;
}

/* End search Button */

div#main{
    background-image: url("../images/maincontent.png");
    background-repeat: repeat-x;
    background-color: #000000;
    height: auto;
}

div#main-content{
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    padding-top: 16px;
    width: 940px;
    overflow:auto;
}




/* Main column */



/* left column */

div.leftcolumn{
    float: left;
    width: 616px;
    margin-bottom: 16px;
}

div#mainslideshow{
    margin-bottom: 7px;
}

.mainslideshow-content{
    height: 353px;
    overflow: hidden;
    position: relative;
    width: 616px;
}

.mainslideshow-scroll-area{
    position: relative;
}

.slideshow-capsule{
    display: block;
    float: left;
    margin-right: 4px;
    position: relative;
}

img.slideshow-capsule-image{
    height: 353px;
    position: relative;
    width: 616px;
}

div.price{
    background: none repeat scroll 0 0 #000000;
    bottom: 98px;
    padding: 4px;
    position: absolute;
    right: 16px;
    opacity: 0.8;
}

div.final-price{
    color: #D6D7D8;
    font-family: tahoma,helvetica,arial,trebuchet ms,sans-serif;
}

.main-overlay{
    bottom: 0;
    height: 86px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 616px;
}

.main-overlay .ext-overlay{
    background-color: #000000;
    height: 86px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 616px;
}

.main-overlay .main-overlay-content{
    color: #FFFFFF;
    font-size: 14px;
    height: 70px;
    line-height: 16px;
    overflow: hidden;
    padding: 8px 13px 0;
    position: relative;
}

.main-overlay .main-overlay-platform{
    position: absolute;
    right: 13px;
    top: 8px;
}

img.platform-image{
    margin-right: 6px;
    vertical-align: middle;
}

.main-overlay h1{
    line-height: 36px;
    white-space: nowrap;
}

#mainslideshow-control-bar{
    height: 13px;
    padding-bottom: 10px;
    padding-top: 3px;
}

div.slider{
    background-color: #323232;
    height: 13px;
    position: relative;
}

div.slider-bg{
    margin: 0;
    padding: 0;
}

div.slider div.handle{
    background-image: url("../images/slider.png");
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 13px;
    position: absolute;
    top: 0;
    width: 60px;
}

div.control-left{
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    color: #8BB9E0;
    cursor: pointer;
    height: 44px;
    position: absolute;
    top: 16px;
    padding-right: 16px;
}

div.control-left img{
    vertical-align: middle;
}

div.control-right{
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    color: #8BB9E0;
    cursor: pointer;
    height: 44px;
    position: absolute;
    top: 16px;
    padding-left: 16px;
}

div.control-right img{
    vertical-align: middle;
}

/* featured Games Css bar */
div#featured-games{
    background-image:url("../images/featuredbar.png");
    position:relative;
    background-position: center bottom;
    background-repeat:no-repeat;
    border-bottom: 1px solid #000000;
    width:616px;
    overflow: auto;
}

#featured-games .tab{
    border-right: 1px solid black;
    color: #CDCAC1;
    cursor: pointer;
    font-size: 11px;
    height: 30px;
    line-height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 12px;
}

#featured-games .tab-active{
    background-color: #4D4B49;
    border-top-left-radius: 16px;
    color: #FFFFFF;
    cursor: default;
    margin-top: 2px;
    padding-top: 3px;
}
/* End featured Games Css bar*/



/* end left column */



/* right column */
div.rightcolumn{
    float: right;
    height: auto;
    width: 308px;
    margin-left: 14px;
}

.rightcolumn .topblock{
    background-color: #292F35;
    background-image: url("../images/right_blue.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 25px;

}

.rightcolumn .gamenewsblock{
    background-position: right bottom;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #262626;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    background-color: #262626;
    padding: 16px;
    margin-bottom: 20px;
}

.rightcolumn .gamenewsblock .gamenews-img {
    padding-left:16px;
}

.rightcolumn .gamenewsblock .gamenews-content a {
    color: #FDB913;
    font-size: 12px;
    font-weight: bold;
}

.rightcolumn .gamenewsblock .gamenews-content ul{
    padding-left: 10px;
}

.rightcolumn .gamenewsblock .gamenews-content li{
    list-style-type: square;
    padding-top: 10px;
}

.rightcolumn .topblock .gamenews{
    font-size:12px;
    font-weight: bold;
    padding-left:16px;
    padding-top: 5px;
    margin-bottom: 25px;
}

.rightcolumn .gamenewsblock{
    background-position: right bottom;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #262626;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    background-color: #262626;
    padding: 16px;

}

.rightcolumn .topblock .offers{
    font-size:12px;
    font-weight: bold;
    padding-left:16px;
    padding-top: 5px;
}

.rightcolumn .mainblock{
    background-position: right bottom;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #262626;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    background-color: #262626;
    padding: 16px;

}

.rightcolumn .mainblock .imageblock{
    display: block;
    height: 45px;
    margin-bottom: 8px;
    position: relative;
}

.rightcolumn .mainblock .imageblock .tinyimg{
    position: absolute;
    left: 0;
    top: 0;
}

.rightcolumn .mainblock .imageblock .tinyimg2{
    position: absolute;
    right:10px;
    top: 0;
}

.rightcolumn .mainblock .imageblock .tinyimg img{
    width:120px;
    height: 45px;
}

.offerinfo p{
    font-weight: bold;
    font-size: 12px;
    color: #B0AEAC;
}

.rightcolumn .mainblock .btn-addtocart{
   padding-top: 15px;
   float: right;
}

.rightcolumn .mainblock .btn-addtocart a{
    background-image: url("http://cdn.store.steampowered.com/public/images/v5/btn_addtocart_repeat.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 1px 5px #888;

}

/* end right column */

/* start featured games content */
.featured-container{
    width:616px;
}

.featured-container .scroll-container{
    width:616px;
    overflow: hidden;
}

.featured-container .scroll-window{
    width:1232px;
    height:272px;
    position:relative;
}

.featured-container .scroll-window .scroll-page{
    float:left;
    width:616px;
    height:272px;
    overflow: auto;
}

.featured-container .scroll-window .scroll-page a{
    display: block;
    float: left;
    overflow: hidden;
    height: 106px;
    padding: 15px 10px;
    white-space: nowrap;
    width:184px;
}

.featured-footer{

}

.tab-row.alt {
    background-color:#1a1a1a;
}
/*end featured games content */

/*start offers-releases*/
div#releases-offers{
    background-image: url("../images/featuredbar.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000;
    overflow: auto;
    position: relative;
    width: 616px;
}

#releases-offers .tab-active {
    background-color: #4D4B49;
    border-top-left-radius: 16px;
    color: #FFFFFF;
    cursor: default;
    margin-top: 2px;
    padding-top: 3px;
}

#releases-offers .tab{
    border-right: 1px solid black;
    color: #CDCAC1;
    cursor: pointer;
    font-size: 11px;
    height: 30px;
    line-height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 12px;
}

.releases-container .tab-page{
    background-color: #1A1A1A;
    border: 1px solid #4D4B49;
    overflow: hidden;
    position: relative;
}


#released-games-1.tab-row{
    border-bottom: 1px solid #000000;
    height: 77px;
    position: relative;
    background-color: #1F1F1F;
}

.tab-games-image {
    left: 16px;
    position: absolute;
    top: 16px;
}

tiny-cap-image {
    height: 45px;
    width: 120px;
}

.tab-games-desc{
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;
    left: 152px;
    overflow: hidden;
    top: 18px;
    width: 400px;
}

.tab-games-desc .genre-release{
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color:#626366;
}

.tab-games-discper{
    color: #FFFFFF;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    position: absolute;
    right: 70px;
    text-align: center;
    top: 30px;
    width: 46px;
    background-color: #7B3445;
}
.right{
    right:110px;
}

.tab-price{
    color: #B0AEAC;
    font-family: tahoma,helvetica,arial,trebuchet ms,sans-serif;
    font-size: 11px;
    position: absolute;
    right: 16px;
    top: 31px;
}

#released-games-2.tab-row{
    border-bottom: 1px solid #000000;
    height: 77px;
    position: relative;
    background-color: #1A1A1A;
}

#released-games-3.tab-row{
    border-bottom: 1px solid #000000;
    height: 77px;
    position: relative;
    background-color: #1F1F1F;
}

#released-games-4.tab-row{
    border-bottom: 1px solid #000000;
    height: 77px;
    position: relative;
    background-color: #1A1A1A;
}

.tab-row {
    background-color: #1F1F1F;
    border-bottom: 1px solid #000000;
    height: 77px;
    position: relative;
}
/*end offers-releases*/

/* right column main body */

/* popup dialogs */
.dialog {
    background-color:#262626;
    max-width:920px;
    min-width:245px;
    display:none;
    color:#b0aeac;
    border:solid 6px #4d4b49;
    box-shadow: 2px 2px 12px #d2d2d2;
}

.dialog  h2 {
    padding:10px;
    font-size:18px;
    color:#ffffff;
}

.dialog  .dialog-content {
    font-size:14px;
    line-height:1.4em;
    padding: 20px 10px;
}

.simplemodal-overlay {
    background-color:#000000;
}

.dialog .dialog-content h6 {
    font-size:10px;
    clear:left;
}

.dialog .dialog-content h2 {
    font-size:18px;
    coolor:#ffffff;
    padding:0;
    margin-bottom: 10px;
}

.dialog.login-prompt input {
    padding:4px;
    height:28px;
    border:solid 1px #82807c;
    background-color: #4d4b49;
    margin-bottom: 10px;
    color:#ffffff;
}

.dialog.login-prompt aside  {
    padding-right:10px;
    padding-top:10px;
}

.dialog.login-prompt aside > h2 {
    margin-left:-10px;
}

.dialog.login-prompt {
    position:relative;
}

.dialog.login-prompt aside > button {
    position:absolute;
    bottom:20px;
    right:60px;
}

.button {
    padding:8px 15px;
    border:0;
    line-height:1.2em;
    color:#ffffff;
    background-color: #adff2f;
    cursor:pointer;
}

.green {
    background-color: #adff2f;
}

.nivoSlider {
    position:relative;
    width:616px; /* Change this to your images width */
    height:254px; /* Change this to your images height */
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
.nivo-slice, .nivo-box {
    position:absolute
}

.ui-autocomplete {
    z-index: 9999 !important;
}

/* game page */

.game-name{
    height:40px;
    line-height:40px;
    padding: 0 4px;
    font-size: 30px;
}

.game-purchase-wrapper{
    margin-bottom: 30px;
}

.game-purchase{
    background-color: #262626;
    border: 1px solid #4D4B49;
    color: #898A8C;
    font-size: 12px;
    margin-bottom: 28px;
    padding: 16px 16px 26px;
    position: relative;
    z-index: 1;
}

.game-purchase h1{
    color: #FFFFFF;
    font-size:21px;
}


.game-purchase-button{
    background-color: #3C3D3E;
    border-radius: 3px 3px 3px 3px;
    height: 34px;
    padding: 3px 3px 3px 0;
    float:right;
    margin-left: 3px;
}

.game-purchase-price{
    background-color: #000000;
    font-size: 13px;
    height: 26px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    margin-left: 3px;
}

.game-purchase-price span{
    font-weight:bold;
    font-size:15px;
}
.game-purchase-button .btn-addtocart{
    float: right;
}

.game-purchase-button .btn-addtocart a{
    background-image: url("http://cdn.store.steampowered.com/public/images/v5/btn_addtocart_repeat.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 1px 5px #888;
    margin-left:40px;
}

.game-description{
    line-height: 1.5em;
    margin-bottom: 18px;
}

.game-description h2{
    margin-bottom: 6px;
    margin-top: 18px;
    color: #FFFFFF;
    font-size:15px;
}

.game-information-tab{
    background-color: #292F35;
    background-image: url("../images/right_blue.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 25px;
    margin-top:316px;
}

.game-information{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 16px;
    padding-top: 5px;
}

.details-block{
    background-position: right bottom;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #262626;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    background-color: #262626;
    padding: 16px;
    margin-bottom: 20px;
}

.details-block li{
    margin-bottom: 6px;
    color: #626366;
    font-weight: bold;
}

.details-block li.last{
    margin-bottom: 0px;
}

.details-block span{
    color: #ffffff;
}
/* end game pager */



/*cart css*/

h2.cart-title{
    color: #B0AEAC;
    font-size: 24px;
    margin-bottom: 5px;
}

.cart-area{
    background-color: #000000;
    border: 1px solid #4D4B49;
    color: #B0AEAC;
    line-height: 18px;
    position: relative;
}

.cart-game{
    height: 77px;
    line-height: 16px;
    position: relative;
}

.cart-game-price.discount{
    top: 15px;
}

.cart-game-price{
    position: absolute;
    right: 14px;
    text-align: right;
    top: 20px;
}

.cart-game-price .original-price{
    color: #626366;
    font-size: 12px;
    text-decoration: line-through;
}

.cart-game-price .final-price{
    color: #ffffff;
    font-size: 14px;
}

.cart-game-image{
    position: absolute;
    left: 16px;
    top: 16px;
}

.checkout{
    padding: 30px;
    background-color: #262626;
    line-height: 18px;
    margin-top: 8px;
    position: relative;
}

.button-continue{
    color: #FFFFFF;
    background-image: url("http://cdn.store.steampowered.com/public/images/v5/btn_checkout_blue_bg.png");
    background-repeat: repeat-x;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 28px;
    line-height: 24px;
    padding: 0 17px;
    top: 12px;
    left: 10px;
    text-align: center;
    float: left;
    font-weight: bold;
    position: absolute;

}

.button-checkout{
    background-image:url("http://cdn.store.steampowered.com/public/images/v5/btn_checkout_active_bg.png");
    color: #FFFFFF;
    background-repeat: repeat-x;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 28px;
    line-height: 24px;
    padding: 0 17px;
    text-align: center;
    float: right;
    font-weight: bold;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

.button-checkout.delete {
    background: none;
    background-color: #a10000;
}

.cart-icon{
    float:left;
    padding-right: 8px;
}
/*end cart css*/

/*start about css*/

h1.about-title{
    font-size: 30px;
    margin-top: 14px;

}

.features{
    float: left;
    margin-right: 16px;
    margin-top: 10px;
}

.features-title{
    font-size: 18px;
    margin-top: 30px;
}

.features-main{
    margin-top: 8px;
    color: #898A8C;
    font-size: 14px;
}

.line.about{
    margin-top: 20px;
}

.features.right{
     float: right;
}
/*end about css*/